<?xml version="1.0" ?>

<!-- <world name="demo_world" gravity="0.0 0.0 0.0"> -->
<world name="demo_world" gravity="0.0 0.0 -9.81">

	<robot name="PANDA_LEFT">
		<model dir="./resources" path="panda_arm_hand.urdf" name="panda_hand" />
		<origin xyz="0 -0.5 0.0" rpy="0 0 0.3010693" />
	</robot>
	<robot name="PANDA_RIGHT">
		<model dir="./resources" path="panda_arm.urdf" name="panda_hand" />
		<origin xyz="-0.06 0.57 0.0" rpy="0 0 -1.0864675" />
	</robot>

	<static_object name="Floor">
		<origin xyz="0.0 0.0 -0.05" rpy="0 0 0" />
		<collision>
	        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
	        <geometry>
	            <box size="3.0 3.0 0.1" />
	        </geometry>
	    </collision>
	    <visual>
	        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
	        <geometry>
	            <box size="3.0 3.0 0.1" />
	        </geometry>
	        <material name="material_gray">
		        <color rgba="0.6 0.6 0.6 1.0" />
	        </material>
	    </visual>
	</static_object>

	<light name="light1" type="directional">
		<position xyz="2.0 -2.0 2.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</light>

	<light name="light2" type="directional">
		<position xyz="2.0 2.0 2.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</light>

	<camera name="camera_fixed">
		<position xyz="2.0 0.0 1.0" />
		<vertical xyz="0.0 0.0 1.0" />
		<lookat xyz="0.0 0.0 0.5" />
	</camera>

</world>
