<?xml version="1.0" ?>

<world name="demo_world" gravity="0.0 0.0 0.0">
<!-- <world name="demo_world" gravity="0.0 0.0 -9.81"> -->

	<robot name="TWO_ARM_PANDA">
		<model dir="./resources" path="two_arm_panda_gripper.urdf" name="two_arm_panda_gripper" />
		<origin xyz="0 0 0" rpy="0 0 0" />
	</robot>

<dynamic_object name="tool">
		<origin xyz="0.9 0.0 0.35" rpy="1.57079632679 0 3.14159265359" />
		<!-- <origin xyz="0.9 0.0 1.1" rpy="1.57079632679 0 0" /> -->
		<inertial>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<mass value="0.5" />
			<inertia ixx="0.1" iyy="0.1" izz="0.1" ixy="0" ixz="0" iyz="0" />
		</inertial>
		<visual>
			<geometry>
				<mesh filename="../../Model/objects/Assemble_tool_coarse.obj" />
			</geometry>
		</visual>
	    <collision>
			<geometry>
				<mesh filename="../../Model/objects/Assemble_tool_coarse.obj" />
			</geometry>
		</collision>
<!-- 	    <collision>
			<geometry>
				<mesh filename="../../Model/objects/Assemble_tool_coarse_collision.obj" />
			</geometry>
		</collision> -->
<!-- 		<collision>
			<origin xyz="-0.3 0.0 0.0" rpy="0 1.57079632679 0" />
			<geometry>
				<cylinder radius="0.015" length="0.95" />
			</geometry>
		</collision> -->
<!-- 		<visual>
			<origin xyz="-0.3 0.0 0.0" rpy="0 1.57079632679 0" />
			<geometry>
				<cylinder radius="0.015" length="0.95" />
			</geometry>
			<material name="material_gray">
				<color rgba="0.0 0.0 0.8 1.0" />
			</material>
		</visual> -->
<!-- 		<collision>
		<origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
			<geometry>
				<box size="0.8 0.01 0.01" />
			</geometry>
		</collision> -->

<!-- 		<collision>
		<origin xyz="-1.555 0.008 -0.035" rpy="1.57079632679 0 0" />
			<geometry>
				<cylinder radius="0.006" length="0.016" />
			</geometry>
		</collision> -->

<!-- 		<collision>
		<origin xyz="-0.555 1.008 -0.035" rpy="1.57079632679 0 0" />
			<geometry>
				<cylinder radius="0.306" length="0.016" />
			</geometry>
		</collision> -->

<!-- 		<collision>
		<origin xyz="-0.555 0.008 -1.035" rpy="1.57079632679 0 0" />
			<geometry>
				<cylinder radius="0.006" length="1.016" />
			</geometry>
		</collision> -->


<!-- 		<collision>
		<origin xyz="-0.555 0.008 -0.035" rpy="1.57079632679 0 0" />
			<geometry>
				<cylinder radius="0.006" length="0.016" />
			</geometry>
		</collision>
		<collision>
		<origin xyz="-0.555 0.008 -0.015" rpy="1.57079632679 0 0" />
			<geometry>
				<cylinder radius="0.006" length="0.016" />
			</geometry>
		</collision>
		<collision>
		<origin xyz="-0.515 0.008 -0.035" rpy="1.57079632679 0 0" />
			<geometry>
				<cylinder radius="0.006" length="0.016" />
			</geometry>
		</collision>
		<collision>
		<origin xyz="-0.515 0.008 -0.015" rpy="1.57079632679 0 0" />
			<geometry>
				<cylinder radius="0.006" length="0.016" />
			</geometry>
		</collision>
		<collision>
		<origin xyz="-0.535 0 0.001" rpy="0 0 0" />
			<geometry>
				<box size="0.06 0.016 0.02" />
			</geometry>
		</collision> -->	    
	</dynamic_object>

	<!-- <dynamic_object name="tool">
		<origin xyz="0.9 0.0 0.31" rpy="1.57079632679 0 3.14159265359" />
		<inertial>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<mass value="0.5" />
			<inertia ixx="0.1" iyy="0.1" izz="0.1" ixy="0" ixz="0" iyz="0" />
	  </inertial>
		<visual>
			<geometry>
				<mesh filename="../../Model/objects/Assemble_tool_coarse.obj" />
			</geometry>
		</visual>
		<collision>
		<origin xyz="-0.3 0 0" rpy="0 1.57079632679 0" />
			<geometry>
				<cylinder radius="0.015" length="0.95" />
			</geometry>
			<material name="material_gray">
				<color rgba="0.0 0.0 0.8 1.0" />
			</material>
		</collision>
		<collision>
		<origin xyz="-0.555 0.008 -0.035" rpy="1.57079632679 0 0" />
			<geometry>
				<cylinder radius="0.006" length="0.016" />
			</geometry>
			<material name="material_gray">
				<color rgba="0.0 0.0 0.8 1.0" />
			</material>
		</collision>
		<collision>
		<origin xyz="-0.555 0.008 -0.015" rpy="1.57079632679 0 0" />
			<geometry>
				<cylinder radius="0.006" length="0.016" />
			</geometry>
			<material name="material_gray">
				<color rgba="0.0 0.0 0.8 1.0" />
			</material>
		</collision>
		<collision>
		<origin xyz="-0.515 0.008 -0.035" rpy="1.57079632679 0 0" />
			<geometry>
				<cylinder radius="0.006" length="0.016" />
			</geometry>
			<material name="material_gray">
				<color rgba="0.0 0.0 0.8 1.0" />
			</material>
		</collision>
		<collision>
		<origin xyz="-0.515 0.008 -0.015" rpy="1.57079632679 0 0" />
			<geometry>
				<cylinder radius="0.006" length="0.016" />
			</geometry>
			<material name="material_gray">
				<color rgba="0.0 0.0 0.8 1.0" />
			</material>
		</collision>
		<collision>
		<origin xyz="-0.535 0 0.001" rpy="0 0 0" />
			<geometry>
				<box size="0.06 0.016 0.02" />
			</geometry>
			<material name="material_gray">
				<color rgba="0.0 0.0 0.8 1.0" />
			</material>
		</collision>
	</dynamic_object> -->

<!-- 	<static_object name="box">
		<origin xyz="1.0 0.0 0.15" rpy="0 0 0" />
		<collision>
			<geometry>
				<box size="0.3 0.3 0.3" />
			</geometry>
		</collision>
		<visual>
			<geometry>
				<box size="0.3 0.3 0.3" />
			</geometry>
			<material name="material_gray">
				<color rgba="0.6 0.9 0.6 1.0" />
			</material>
		</visual>
	</static_object> -->


	<light name="light1" type="spot">
		<position xyz="2.0 -2.0 2.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</light>

	<light name="light2" type="spot">
		<position xyz="2.0 2.0 2.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</light>

	<camera name="camera_fixed">
		<position xyz="2.0 0.0 1.0" />
		<vertical xyz="0.0 0.0 1.0" />
		<lookat xyz="0.0 0.0 0.5" />
	</camera>

</world>
